body {
	background-color: #e4e8e4;
/*	background-image: none;*/
}
.contents {
/*	background: #f8f8f8 url(../images/hold/random.jpg) no-repeat bottom right;*/
	background: #e4e8e4 url(../images/bg/adamTaylorBackgroundVH.jpg) no-repeat bottom right;
	
}

.contents h1 {
	font-size : 48px;
	margin : 80px 0px;
	
	font-family : Gill Sans;
	letter-spacing : 4px;
	text-transform: uppercase;
	color : #fff;
}
	.contents h1 span {
		background-color : #000;
		padding : 5px;
		line-height : 1.2em;
	}
	.contents h1 a {
		color : #fff;
	}

.contents #features {
	float : right;
	list-style: none;
}
	.contents  ul#features li{
		position : relative;
		float : right;
		clear : right;
		width : 556px;
		
		overflow : hidden;
		
		background: rgba(20, 130, 230, 0.2) url(../images/mask.png) repeat top left;
		margin-right : 0px;
		margin-bottom : 32px;
		padding: 10px;
	}
		.contents ul#features li:first-child {
			width : 628px;
		}
	


	.contents #features h3 {
		position : absolute;
		top : 5px;
		font-size : 56px;
		line-height : 56px;
		color : #EEE;
		clear : none;
	}
		.contents #features .portfolio h3 {
			left : 220px;
			top : 6px;
		}
	
	/*UNIVERSAL <P>*/
	.contents  ul#features li p {
				position : absolute;
				opacity : 0;
				top : 56px;
			}
			.contents #features .portfolio p {
				top : 68px;
				left : 205px;
			}
	.contents  ul#features li h3 + p {
		margin-top : 10px;
	}

	/*UNIVERSAL LINKS*/
	.contents  ul#features li a {
		text-decoration: none;
		cursor: pointer;
		color : #EEE;
	}
		.contents  ul#features li a:hover {
			color : #EEE; /*Background changes for usability*/
		}
		.contents  ul#features li a:active {
			opacity: 0.75;
		}
	.contents  ul#features li p a {
		color : #333;
		background-color : rgba(255,255,255,0.3);
	}
		.contents  ul#features li p a:hover {
			color : #333;
			background-color : rgba(255,255,255,0.6);
		}
		.contents  ul#features li a:active {
			opacity: 0.65;
		}	
	
/*	PORTFOLIO*/
	.contents #features .portfolio {
		height : 138px;
	}
	
	.contents #features .portfolio h3 {
		width : 412px;
		margin-top : 6px;
	}
		.contents #features .portfolio h3 a {
			background : rgba(0,0,0,0.3);
			padding : 1px 3px 3px 3px;
			
			moz-border-radius: 0.25em 0em 0.25em 0em;
			-webkit-border-bottom-left-radius: 0em;
			-webkit-border-bottom-right-radius: 0.25em;
			-webkit-border-top-left-radius: 0.25em;
			-webkit-border-top-right-radius: 0;
		}
			.contents #features .portfolio h3 a:hover {
				background : rgba(0,0,0,0.7);
			}


	.contents #features .portfolio img + h3, .contents #features .portfolio img + p, .portfolio * + p {
		margin-left : 10px;
	}

	.contents #features .portfolio img {
		border : 2px solid #fff;
	}
	
	.contents #features .portfolio p {
		width : 484px;
		font-size : 18px;
		line-height : 1.5;
	}
		.contents #features .portfolio p a {

			padding : 2px;
		}
/*	ARTICLES*/
	.contents #features .article {
		height : 88px;
	}
	.contents #features .article .spch-bub {
		float : right;
		font-size : 54px;
		
		margin-top : 21px;
	}
	
	.contents #features .article h3 {
		width : 432px;
		font-size : 24px;
		line-height : 1.3;
	}
		.contents #features .article h3 a {
			background : rgba(0,0,0,0.3);
			padding : 2px;
			
			
		}
		.contents #features .article h3 a:hover {
			background : rgba(0,0,0,0.6);
			
		}
	.contents  ul#features .article p {
	 	width : 448px;
	}
		.contents  ul#features .article p a {
			background-color : rgba(255,255,255,1);
		}
			.contents  ul#features .article p a:hover {
				background-color : rgba(255,255,255,0.75);
			}
	