body {
	background-color: #f8f8f9;
/*	background-image: none;*/
}

.pieces {
	position : relative;
	width : 1080px;
	padding-top : 64px;
	background: #f8f8f9 url('../images/archs/shorts.jpg') no-repeat top right;
	min-height : 686px;
	
}


.pieces .hfeed h2, .pieces h2.tag {
	font-size : 36px;
	line-height : 1.3em;
	font-family : "GraublauWeb","Graublau Web","Trebuchet MS",sans-serif;
	color : #000;
	letter-spacing : 3px;
}
	.pieces h2 a {
		color : #000;
		border-bottom : 1px dotted #ccc;
		text-decoration: none;
	}
		.pieces h2 a:hover {
			color : #222;
			border-bottom : 1px solid #555;
		}
.tag {
	background: transparent url('../images/archs/tab.png') no-repeat  top left;
	width : 230px;
	height : 72px;
	padding-right : 70px;
	padding-top : 9px;
	text-transform : lowercase;
	text-align : right;
}
	.pieces h2.tag {
		color : #d6d6d6;
	}

	.tag.contents {
		margin-top : 162px;
	}
.pieces .hfeed {
	width : 484px;
	margin-left : 82px;
	list-style : none;
}
	.pieces .hfeed li {
		padding-bottom : 18px;
		border-bottom : 1px dotted #000;
		margin-bottom : 18px;
	}
.pieces .entry-date {
	color : #ff39d2;
	font-size : 14px;
	font-family : "GraublauWeb","Graublau Web","Trebuchet MS",sans-serif;
	border  : none;
	}
	
.pieces ul.tags{
			list-style: none inside;
			line-height : 4em;
			margin-left : 82px;
			margin-top : 30px;

		}
			.pieces ul.tags li {
				margin-bottom : 28px;
				display : inline;
				padding : 10px;
				margin-right : 20px;
				background-color : #0da8f0;

				-moz-border-radius: 0.6em;
				-webkit-border-radius: 0.6em;

				color : #fff;
				letter-spacing : 1px;
			}
					.pieces ul.tags li a {
						color : #111;
						text-decoration: none;
					}
						.pieces ul.tags li a:hover {
							color : #DDD;
						}